.container {
  position: relative;
  /* margin-top: 200px; */
}

.popuplist {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popuplist .content {
  /* background-color: brown; */

  width: 500px;
}
